.file-list-box{

}

.vis_0{
  visibility: hidden;
}
.vis_1{
  visibility: visible;
}

.dropdown-menu > .disabled > a i.text-primary,
.dropdown-menu > .disabled > a i.text-warning,
.dropdown-menu > .disabled > a i.text-danger,
.dropdown-menu > .disabled > a i.text-info,
.dropdown-menu > .disabled > a i.text-success,
.dropdown-menu > .disabled > a,
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus{
  color:#ccc;
}

th {
  cursor: pointer;
}

.angle_top {
  content: '';
  width: 0;
  height: 0;
  display: block;
  border-style: solid;
  border-width: 0 6px 6px;
  border-color: transparent transparent #5e5e5e;
  transform: rotate(180deg);

}

.angle_bottom {
  content: '';
  width: 0;
  height: 0;
  display: block;
  border-style: solid;
  border-width: 0 6px 6px;
  border-color: transparent transparent #5e5e5e;

}

.angle_div{
  display: flex;
  align-items: center;
}